numpy~=1.24.4
scikit-learn~=1.3.0
opencv-python==4.5.5.64
swig
gymnasium[accept-rom-license]~=0.29.1
swig~=4.2.0
tqdm~=4.66.2
gymnasium[all]
PyYAML~=6.0.1
matplotlib~=3.8.3
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==2.2.0+cu121
torchvision
tensorboard~=2.16.2
